.brew-page {
    width: 100%;
}

.phb {
    width: 100%;
    height: auto;
    column-fill: balance !important;
    overflow: scroll !important;
}

.phb code {
    font-weight: bold !important;
    visibility: visible !important;
}